<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/page/head.ejs %> </head>
  <body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center"> 404 </h1> <br>
			<h4 class="text-center"> Looks like the page that you are looking for is not found </h4>
		</div>
	<% include partials/page/jsdefaults.ejs %>
	</div> <!-- end of container -->
</body>
</html>