<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/page/head.ejs %> </head>
  <body class="<% classname %>">
	<div class="container">
		<h1><%= title %></h1>	
		
		<% if(typeof(paragraph) !== 'undefined') {%>
		<p> <%= paragraph %> </p>
		<% } %>

		<% if(typeof(question) !== 'undefined') {%>
		<p>
			<%= question %>
		</p>
		<% } %>
		
		<% if(typeof(option) !== 'undefined') {%>
			<% for(var i=0; i<option.length; i++) { %>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
					<%= option[i] %>
				  </label>
				</div>
			<% } %>
			<button type="button" class="btn btn-primary">GO!</button>
		<% } %>

	<% include partials/page/jsdefaults.ejs %>
	</div> <!-- end of container -->
</body>
</html>